@import "adress";

footer{
	width: 100%;
	background-color: #f5f5f5;
	background-image: url("../img/footer/absurdity.png");
	margin-top: 70px;
	padding: 10px 10px 10px 50px;
	font-size: 11px;
	@media #{$desktops}{
		font-size: 13px;
		padding: 45px;
	}
	color: #777;
	font-family: arial;
	.row{
		@media #{$desktops}{
			width: 967px; 
		}
		margin: 0 auto;
	}
	.btns a{
		font-size: 10px;
		white-space: nowrap;
		@media #{$desktops}{
			font-size: 11px;
		}
		width: 140%;
		margin-left: auto;
		@media #{$not-mobile}{
			width: 165px;
		}
		padding: 6px 6px 6px 43px;
		background: $laranja;
		margin-bottom: 10px;
		display: block;
		color: #000;
		position: relative;
		height: 40px;
		&:first-of-type{
			margin-top: 10px;
			padding-top: 13px;
		}
		img{
			margin-right: 5px;
			height: 100%;
			position: absolute;
			width: 23px;
			height: auto;
			left: 13px;
			top: 10px;
		}
	}
	.col-xs-4{
		@media only screen and (max-width: 635px){
			width: 40%;
		}
	}
	.col-xs-3{
		@media only screen and (max-width: 635px){
			width: 68%;
			text-align: center;

		}
	}
}