@import url("../fonts/arial.ttf");
* {
    font-family: Arial, sans-serif;
}
body {
    padding-top: 20px;
}
#topo {
    padding-bottom: 20px;
}
#logo {
    padding-left: 20px;
    width: 200px;
}
#carousel-imgs {
    margin-bottom: 20px;
    width: 100%;
    background-color: #f9c438;
    background-size: cover;
    position: relative;
    display: block;
    padding-left: 15%;
    padding-right: 15%;
}
#sapatos {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    display: block;
    padding-left: 15%;
    padding-right: 15%;
}
.tales {
    width: 100%;
}
.carousel-inner {
    width: 100%;
    max-height: 400px !important;
}
.carousel-control.left, .carousel-control.right {
    margin-left: 6%;
    margin-right: 5%;
}
.carousel-indicators {
    max-height: 20px !important;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    max-height: 450px !important;
}
#login {
    font-size: 1.0em;
}
#login p b {
    font-size: 1.5em;
}
#search {
    background-color: #EEBB00;
    padding-left: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#search input {
    padding-top: 10px;
    background-color: #EEBB00;
    border: none;
    color: black;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}
#search input:focus {
    outline: none;
}
#search input[placeholder] {
    color: black;
}
#icone-pesquisa {
    background-color: black;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 25%;
    border: 10px solid black;
}
#bandeiras img, #skype img {
    display: inline-block;
    max-height: 20px;
}
#skype span {
    color: #00AFF0;
}
footer, footer div {
    background-color: #DBDBDB;
    background-size: cover;
}
.endereco-footer {
    color: gray;
}
.icone-footer {
    background-color: #EEBB00;
    max-width: 200px;
    padding: 10px;
}
.icone-footer img {
    margin-right: 10px;
}
#botoes-footer {
    padding-top: 20px;
    padding-bottom: 9px;
}
a, a:hover, a:focus {
    color: black;
    text-decoration: none;
}
#rj-footer {
    padding-left: 10%;
}
#rj-footer, #sp-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}
input::-webkit-input-placeholder {
    color: black;
}
input:-moz-placeholder {
    color: black;
}
input::-moz-placeholder {
    color: black;
}
input:-ms-input-placeholder {
    color: black;
}
.carousel-control {
    opacity: 1;
    color: #ccc;
    text-shadow: none;
}
.carousel-control:hover, .carousel-control:focus {
    color: #999;
}
.carousel-control.left, .carousel-control.right {
    background: none !important;
    filter: progid: none !important;
    outline: 0;
}
.carousel .carousel-control {
    visibility: hidden;
}
.carousel:hover .carousel-control {
    visibility: visible;
}
.carousel-control.left, .carousel-control.right {
    background: none !important;
    outline: none !important;
    filter: progid: none !important;
}
.carousel-control .glyphicon-chevron-left:before {
    content: " ";
    display: block;
    background: url('../img/banner/seta_esquerda.png') no-repeat;
    width: 30px;
    height: 30px;
}
.carousel-control .glyphicon-chevron-right:before {
    content: " ";
    display: block;
    background: url('../img/banner/seta_direita.png') no-repeat;
    width: 30px;
    height: 30px;
}
#sapatos .carousel-control .glyphicon-chevron-left:before {
    content: " ";
    display: block;
    background: url('../img/sapatos/seta_esquerda.png') no-repeat;
    width: 30px;
    height: 30px;
}
#sapatos .carousel-control .glyphicon-chevron-right:before {
    content: " ";
    display: block;
    background: url('../img/sapatos/seta_direita.png') no-repeat;
    width: 30px;
    height: 30px;
}
.sapato {
    border-right: 0.5px solid #D2D2D2;
}
.sapato p {
    margin: 0;
}
.sapato:hover {
    background-color: #EEBB00;
}
.sapato:hover .comprar img {
    height: 30px;
}
.sapato:hover .comprar {
    font-size: 1.3em;
}
.sapato > img, .estrelas {
    margin: 0 auto;
}
.estrelas {
    padding-top: 10px;
    padding-bottom: 10px;
}
.comprar {
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding: 10px;
    padding-right: 20px;
    padding-top: 15px;
    border: none;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.comprar > img {
    height: 27px;
    padding-right: 5px;
    padding-top: 0px;
}
.comprar > p {
    padding-top: 15px;
}
.comprar:hover {
    cursor: pointer;
}
footer > div > img {
    padding-right: 10px;
}
.texto-footer {
    padding-left: 60px;
}
.slick-prev:before, .slick-next:before {
    color: #EEBB00 !important;
}
.slick-prev, .slick-next {
    z-index: 999;
}
.economia {
    border: 0.5px solid #D2D2D2;
    font-size: 0.8em;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
}
p strike {
    color: #888888;
    font-size: 0.89em;
}
.sapato p {
  font-weight: italic;
}
.sapato p span {
  font-weight: bold;
}
.sapato:hover p span {
  font-weight: normal;
}
.slick-prev {
    margin-left: 0px;
}
.slick-next {
    margin-right: 0px;
}
.close {
  opacity: 1 !important;
}
@media (max-width: 1920px) and (min-width: 1830px) {
    .carousel-control {
        width: 510px !important;
    }
}
@media screen and (max-width: 1080px) {
    footer {
        height: 170px;
    }
}
@media screen and (max-width: 990px) {
    #logo {
      margin: 0 auto;
    }
    .sapato:hover {
        background-color: white;
    }
    #carousel-imgs, #sapatos {
        padding: 0px;
    }
    footer {
        height: 210px;
    }
        .slick-prev {
            margin-left: 40px;
        }
        .slick-next {
            margin-right: 40px;
        }
}
@media screen and (max-width: 716px) {
    footer {
        height: 290px;
    }
}
@media screen and (max-width: 570px) {
    footer {
        height: 370px;
    }
}
@media screen and (max-width: 500px) {
    footer {
        height: 370px;
    }
}
@media screen and (max-width: 450px) {
    footer {
        height: 410px;
    }
}
@media screen and (max-width: 370px) {
    #login {
        font-size: 0.9em;
    }
}
