$bg-1: '../img/1.png';
$bg-2: '../img/2.jpg';
$bg-3: '../img/3.jpg';
$bg-4: '../img/4.jpg';
$bg-5: '../img/5.jpg';
$bgs: () !default;
$bgs: map-merge(
    (
    "bg1": $bg-1,
    "bg2": $bg-2,
    "bg3": $bg-3,
    "bg4": $bg-4,
    "bg5": $bg-5
    ),
    $bgs
);

//VETOR QUE ARMAZENA O CAMINHO DE TODAS AS IMAGENS