.section {
  position: relative;

  width: 100%;

  padding: 16px;
  box-sizing: border-box;

}

.section-product {
  margin-top: 50px;
  margin-bottom: 20px;

 .owl-theme .owl-pagination{ display: none !important; }

}
