$color_main : #fac437;
$black: #000;

$phone-min: "only screen and (max-width : 320px)";
$phone: "only screen and (max-width : 375px)";
$phone-max: "only screen and (max-width : 425px)";
$elo: "only screen and (max-width : 520px)";
$elo2: "only screen and (max-width : 620px)";
$tablet: "only screen and (max-width : 768px)";
$desk: "only screen and (max-width : 1024px)";
$desk-large: "only screen and (min-width : 1440px)";
$desk-max: "only screen and (max-width : 1440px)";

