.form { position: relative; }

.input {
  width: 100%;

  padding: em(15px);
  box-sizing: border-box;

  border: none;
  border-radius: 4px;

  outline: none;

}

.input--search {
  padding-right: 60px;

  color: #333;
  font-weight: bold;

  background: $brand-primary;

}

::-webkit-input-placeholder { color: #333; }
:-moz-placeholder { color: #333; }
::-moz-placeholder { color: #333; }
:-ms-input-placeholder { color: #333; }
