.Footer{
    width: 100%;
    background-color: #011627;
    border-bottom: 5px solid #2EC4B6;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section{
        width: 100%;
        color: #fff;
        font-size: 18px;
        align-self: auto;
        h2{
            padding: 25px 10px;
            margin: 0;
        }
    }
    main{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    article{
        width: 80%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    footer{
        width: 100%;
        margin: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}