.footer-profite{
  margin: 3rem 3rem;
  .sp{
    span{
      font-weight: bold;
    }
  }
  .rj{
    padding-left: 5rem;
    span{
      font-weight: bold;
    }
    p{
      padding-left: 1rem;
    }
  }
  .botoes{
    text-align: left;
    img{
      margin-bottom: 1rem;
    }
  }
}
