@mixin container() {
  width: 90%;
  max-width: 970px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

@mixin placeholder-color($color,$font) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
      font-family: $font, sans-serif;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
      font-family: $font, sans-serif;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
      font-family: $font, sans-serif;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
      font-family: $font, sans-serif;
  }
}
