@import "node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "_variable.scss";
@import "_mixins.scss";

.footerProfite{
	background-color: $footer;
	border-bottom: 10px solid #2EC4B6;
	padding: 20px 0;

	@include breakpoint($celular){
		padding: 20px;
	}

	.tituloFooter{
		color: #fff;	
		font-weight: bold;			
		position: relative;				
		&:after{
			background: #ff9b00;
			content: "";
			height: 7px;
			left: calc(7.4% - 85px);
			opacity: 1;
			position: absolute;
			top: 40px;					
			width: 65px;
		}

		@include breakpoint($tablet){
			&:after{
				left: calc(87px - 85px);
				width: 50px;
			}
		}
	}

	.blocoRodape{
		padding: 30px 0;

		.endSP{
			@include make-xs-column(6);
			@include make-sm-column(6);
			@include make-md-column(2.5);
			color: #fff;
			font-family: 'Ubuntu', sans-serif;
			padding: 0;

			@include breakpoint($tablet){
				text-align: center;
			}

			@include breakpoint($celular){
				text-align: left;
			}

			.tituloSP{
				font-weight: bold;
			}
			p{
				margin: 0;
			}
		}

		.endRJ{
			@include make-xs-column(6);
			@include make-sm-column(6);
			@include make-md-column(2.5);
			color: #fff;
			font-family: 'Ubuntu', sans-serif;
			padding: 0;
			
			@include breakpoint($tablet){
				text-align: center;
			}

			@include breakpoint($celular){
				text-align: left;
			}	

			.tituloRJ{
				font-weight: bold;
			}
			p{
				margin: 0;
			}
		}

		.btnContatos{
			@include make-xs-column(8);
			@include make-sm-column(4);
			@include make-md-column(2.5);
			font-family: 'Ubuntu', sans-serif;

			@include breakpoint($tablet){				
				float: none;
				margin: 0 auto;
				text-align: center;
			}

			@include breakpoint($celular){
				text-align: center;
			}

			.entreContato{
				@include btnFooter;
				margin: 20px 0;
			}

			.faleConosco{
				@include btnFooter;
			}
		}

		.logosFooter{
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(4.5);
			margin-top: 80px;
			padding: 0;
			text-align: right;
			vertical-align: bottom;

			@include breakpoint($tablet){
				margin-top: 30px;
				text-align: center;
			}

			@include breakpoint($celular){
				margin-top: 30px;

			}
			.logoProfiteFooter{
				@include breakpoint($tablet){
					margin: 0 30px;
				}
			}
			.logoVtexFooter{
				@include breakpoint($tablet){
					margin: 0 30px;
				}
			}
		}

	}
	}//fim footer