$font-roboto: 'Roboto';
$tablet: max-width 769px;
$mobile: max-width 480px;
$cor-borda: #F2F2F2;
$font-ubuntu: "ubuntu";
$cor-preco: #7a7a7a;
$cor-preco2: #2ec4b6;
$cor-branca: #ffffff;
$cor-botao: #ff9f1c;