/*VARIAVEIS*/

//Paleta de Cores
$cor-branca: #fff;
$cor-texto: #000;
$cor-primaria: #ffc51c;
$cor-texto-contato: #00AFF0;
$cor-rodape: #f1f1f1;
$cor-radape-texto: #717272;
$borda-produto: rgba(0, 0, 0, 0.12);
$modal-borda: #d6d2d6;
$modal-fundo: #fefefe;
$borda-economia: rgba(105, 105, 105, 0.37);

//Fonts
$mobile-text: .8em;


//Grid
$md-mobile: "(max-width: 642px)";

