$cor-de-fundo: #FFF;
$cor-linha: #FF9F1C;
$cor-do-rodape: #011627;
$cor-fonte-rodape: #FFF;
$cor-do-botao-footer: #FF9F1C;
$cor-fonte-produto: #7A7A7A;
$cor-fonte-comum: #7A7A7A;
$cor-fonte-da-enfase: #2EC4B6;
$cor-botao-comprar: #2EC4B6;
$cor-fonte-botao-produto: #FFF;
 

$cor-linha-final: #2EC4B6;