$dark-red = #F44336;
$deep-purple = #673AB7;
$orange = #F44336;
$light-pink = #FFCDD2;
$pink = #E91E63;
$indigo = #536DFE;
$dark-blue = #1976D2;
$blue = #2196F3;
$light-blue = #BBDEFB;
$lighter-blue = #03A9F4;
$cyan = #00BCD4;
$white-blue = #B3E5FC;
$dark-blue-green = #00796B;
$teal = #009688;
$white-blue-green = #B2DFDB;
$green = #4CAF50;
$dark = #212121;
$shadow = #727272;
$gray = #B6B6B6;
$white = #FFF;
$blue-gray = #607D8B;
$black = #000;
$clouds = #ECF0F1;
$card-color = #5C5C5C;

