transform(args...)
	-webkit-transform args
	-moz-transform args
	-ms-transform args
	-o-transform args
	transform args
	
transition(args...)
	-webkit-transition args
	-moz-transition args
	-ms-transition args
	-o-transition args
	transition args
	
filter(args...)
	-webkit-filter args
	-moz-filter args
	-ms-filter args
	-o-filter args
	filter args
		
flex(flex-type, -webkit-flex-type)
	display flex-type
	display -webkit-flex-type
	align-items center
	-webkit-align-items center
	justify-content center
	-webkit-justify-content center