@font-face {
  font-family: 'OpenSans';
  src: url("../../fontes/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'RobotoSlab';
  src: url("../../fontes/RobotoSlab-Regular.ttf"); }
body {
  font-family: 'OpenSans'; }

a {
  color: #000;
  font-size: 14px; }
  a:hover, a:visited, a:focus {
    text-decoration: none;
    color: #555; }

button {
  outline: 0; }

.side-info {
  padding: 0; }
  .side-info [class^='col-'] {
    padding: 0 10px 0 0; }
    .side-info [class^='col-'] img {
      margin: 12px 0 0;
      width: 30px;
      padding: 0 3px;
      border-radius: 4px;
      float: right; }

.tel {
  font-size: 17.5px;
  color: #44c0ed;
  margin-top: 2px;
  padding-right: 2px;
  font-family: 'RobotoSlab'; }

#skype {
  margin-top: 34px; }
  #skype img {
    padding: 0 5px; }

.search-form {
  width: 100%;
  position: relative;
  margin: 19px 0 0 10px;
  padding: 0;
  left: -20px; }
  @media only screen and (min-width: 992px) {
    .search-form {
      left: 0;
      padding-right: 25px; } }
  .search-form button {
    position: absolute;
    top: 0;
    background: black;
    left: 30px; }
    @media only screen and (min-width: 992px) {
      .search-form button {
        left: 0;
        padding: 0 11px; } }
    .search-form button img {
      width: 20px; }
  .search-form .form-group, .search-form .form-control {
    width: 140%; }
    @media only screen and (min-width: 992px) {
      .search-form .form-group, .search-form .form-control {
        width: 100%; } }
  .search-form input {
    background: #ffc266;
    padding: 10px 0 10px 70px; }
    @media only screen and (min-width: 992px) {
      .search-form input {
        padding-left: 51px; } }
    .search-form input::placeholder {
      color: #000; }
  .search-form button, .search-form input {
    height: 31px;
    border: none; }
    @media only screen and (min-width: 992px) {
      .search-form button, .search-form input {
        border-radius: 11px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .logo {
    padding: 0; } }

.navbar-brand {
  padding: 15px 0;
  float: none; }
  .navbar-brand img {
    width: 100%;
    padding-left: 20%; }
    @media only screen and (min-width: 768px) {
      .navbar-brand img {
        padding: 0; } }
    @media only screen and (min-width: 1200px) {
      .navbar-brand img {
        padding: 0 10px; } }

.user {
  white-space: nowrap; }
  @media only screen and (max-width: 370px) {
    .user {
      padding-left: 0; } }
  .user + div {
    padding-left: 0; }
    @media (min-width: 992px) and (max-width: 1200px) {
      .user + div {
        padding-left: 20px; } }
    @media only screen and (min-width: 1200px) {
      .user + div {
        padding-left: 3%; } }
  .user > ul {
    padding: 0; }
    .user > ul > li {
      display: inline-block;
      font-size: 9px;
      font-weight: 600; }
      @media only screen and (min-width: 768px) {
        .user > ul > li {
          font-size: 15px;
          font-weight: 500; } }
      @media (min-width: 992px) and (max-width: 1200px) {
        .user > ul > li {
          font-size: 13px; } }
      .user > ul > li a {
        font-size: 9px; }
        @media only screen and (min-width: 768px) {
          .user > ul > li a {
            font-size: 15px; } }
        @media (min-width: 992px) and (max-width: 1200px) {
          .user > ul > li a {
            font-size: 13px; } }
  @media only screen and (min-width: 1200px) {
    .user {
      padding-left: 0; } }

.dropdown-menu {
  text-align: center;
  width: 250px;
  left: -102px;
  padding: 20px;
  border-radius: 0;
  box-shadow: none; }

.navbar-default {
  padding: 35px 0;
  background: #fff; }
  @media only screen and (min-width: 992px) {
    .navbar-default {
      margin: 0 13% 0 10%; } }
  .navbar-default > div {
    padding: 0; }
    @media only screen and (min-width: 768px) {
      .navbar-default > div {
        padding-left: 10px; } }
  .navbar-default h3 {
    margin: 11px 0 0;
    font-weight: 800;
    font-size: 14px; }
    @media only screen and (max-width: 370px) {
      .navbar-default h3 {
        margin-top: 5px; } }
    @media only screen and (min-width: 768px) {
      .navbar-default h3 {
        font-size: 19px;
        margin-top: 14px;
        letter-spacing: 1.5px; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .navbar-default h3 {
        font-size: 15px; } }

/*# sourceMappingURL=header.css.map */
