section.banner
  .container
    .swiper-container.swiper-banner
      .swiper-wrapper
        .swiper-slide
          h1 Nossa especialidade: experiência de compra.
          .title-line
        .swiper-slide
          h1 Nossa especialidade: experiência de compra.
          .title-line
    .swiper-pagination.banner-pagination
    .swiper-button-next.banner-button-next
    .swiper-button-prev.banner-button-prev
