footer
  .container
    h1 Localização
      .title-line
    .adress
      ul
        li
          p.state São Paulo
        li
          p Rua do Rócio, 423/1801
        li
          p Vila Olímpia - SP
        li
          p 04552-000
        li
          p +55 11 3333 3333

      ul
        li
          p.state Rio de Janeiro
        li
          p Vol da Pátria, 301/702
        li
          p Botafogo - SP
        li
          p 22270-000
        li
          p +55 11 3333 3333

    .btn-group
      button
        img(src="img/mail.png", alt="Icone de mensagem/email")
        | entre em contato
      button
        img(src="img/call.png", alt="Icone de fone de ouvido")
        | fale com o nosso <br> consultor online

    .logos-bottom
      img(src="img/logo-footer-mobile.png", alt="", srcset="")
    .line-bottom