.navbar.container
  button
    span.line
    span.line
    span.line
  img.logo(src="img/logo-navbar.png", alt="Logo profite")
  .user-menu
    .account
      img.user(src="img/user.png" alt="Icone usuario")
      p Minha conta
    img.cart(src="img/cart.png", alt="Icone de carrinho de compras")
    span.cart-items-number 1
    .languages
      img(src="img/portuguese.png", alt="Icone bandeira Brasil")
      img(src="img/spanish.png", alt="Icone bandeira Espanha")
      img(src="img/english.png", alt="Icone bandeira Estados Unidos")
  .input-group
    input(type="text" placeholder="O que está procurando?")
    img(src="img/search.png", alt="Icone de lupa")