section.produtos
  .container
    h1 Produtos
      .title-line
    .swiper-container.swiper-produtos
      .swiper-wrapper#produtos
    .swiper-pagination.produtos-pagination
    .swiper-button-next.produtos-button-next
    .swiper-button-prev.produtos-button-prev