
body {
  font: 14px 'Ubuntu', sans-serif;
  overflow-x: hidden;

}



.container {
	width: 960px;
	max-width: 1920px;
	margin: 0 auto;
	display: block;
	height: auto;
}


.header {
	padding-top: 13.999px;
	background: #FFF;
	padding-bottom:15px;
}
.main {

    float: left;
    display: block;
    height: auto;

    margin-top: 8px;

}

.fluid {
	width: 100%;
	display: block;
}

.logo, .search, .account, .items {
	display: inline-block;
}

.account {
	float: right;
	display: block;
	margin-top: 2px;
}
.search > input[type='search'] {
	border: none;
	border-bottom: 1px solid #7A7A7A;
	width: 420px;
	padding: 8px 0px;
	outline: none;
}

.logo {
    width: 107px; height: 30px;
    background: url('../../images/sprites.png') -211px -123px;
    float: left;
    display: block;
}

.icon {
	display: inline-block;
}
.barra {
    width: 23px;
    height: 16px;
    background: url(../../images/sprites.png) -343px -209px;
    position: relative;
    left:  15px;
    top: -20px;
}
.barra {display: none;}
.icon-user {
    width: 18px; height: 18px;
    background: url('../../images/sprites.png') -389px -134px;
    display: inline-block;
    position: relative;
    top: 3px;

}
.icon-search {
    width: 18px; height: 18px;
    background: url('../../images/sprites.png') -389px -172px;
}

.icon-cart {
    width: 19px; height: 18px;
    background: url('../../images/sprites.png') -389px -96px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.icon-br {
    width: 26px; height: 18px;
    background: url('../../images/sprites.png') -343px -134px;
    display: inline-block;
}
.icon-es {
    width: 26px; height: 18px;
    background: url('../../images/sprites.png') -343px -96px;
    display: inline-block;
}

.icon-gb {
    width: 26px; height: 18px;
    background: url('../../images/sprites.png') -343px -172px;
    display: inline-block;
}
.icon-card_plus {
    width: 18px;
    height: 19px;
    background: url('../../images/sprites.png') -390px -48px;
    display: inline-block;
}
.icon-start_active {
    width: 12px; height: 11px;
    background: url('../../images/sprites.png') -375px -288px;
    display: inline-block;
}
.icon-bg-start {
    width: 12px; height: 11px;
    background: url('../../images/sprites.png') -343px -288px;
    display: inline-block;
}
.icon-phone {
    width: 16px;
    height: 19px;
    background: url('../../images/sprites.png') -10px -325px;
    display: inline-block;
    position: relative;
    left: -18px;
    top: 10px;
}
.icon-contact {
    width: 17px;
    height: 15px;
    background: url('../../images/sprites.png') -386px -210px;
    display: inline-block;
    position: relative;
    left: -18px;
    top: 4px;
}
.icon-bg-start:hover {
	 background: url('../../images/sprites.png') -210px -94px;
}
.icon-flag {
    width: 82px;
    height: 73px;
    background: url('../../images/sprites.png') -10px -10px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.icon-product {
    width: 181px; height: 150px;
    background: url('../../images/sprites.png') -10px -10px;
}

.search {
	position: relative;
	margin-left: 60px;
	float: left;
}
.search > .icon-search {
	position: absolute;
	right: 0px;
	top: 10px;
}

.rounded.cart {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	display: inline-block;
	background-color: #2EC4B6;
	text-align: center;
	font-size: 13px;
	color: #fff;
	position: relative;
	top: -3px;
}

ul.items > li {
	display: inline-block;
	margin-right: 15px;
}
ul.items {
	border-right: 1px solid #7A7A7A;
}
ul.items:last-child {
	border-right: none;
	position: relative;
	top: 5px;
	left: 10px;
}
ul.items:last-child > li  {
	display: inline-block;
	margin-right: 8px;
}

.text {
	color: #7A7A7A;
	text-decoration: none;
	line-height: 29px;
	margin-top: -5px;
	margin-left: 5px;
}

.text.banner {
	width: 49%;
	background: #011627;
	display: block;
	margin: 0px;
	float: left;
	height: 411.5px;
}
.banner.img {
	width: 49%;
	background: #011627;
	display: block;
	margin: 0px;
	float: left;
}

.text.banner > h1 {
	font-size: 30px;
	color: #FFF;
}

.slick-dots > li {
	display: inline-block;
}
.slick-dots > li.slick-active > button[type="button"] {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #FF9F1C;
	border: none;
	text-indent: -999999px;
}
.slick-dots > li {
	margin-left: 10px;
}
.slick-dots > li:first-child {
	margin-left: 0px;
}
.slick-dots > li > button[type="button"] {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #BDBDBD;
	border: none;
	text-indent: -999999px;
}

.underline {
	font-size: 20px;
	color: #011627;
	font-weight: 700;
	margin-bottom: 25px;
}
.underline:before {
    content: "";
    width: 65px;
    height: 4px;
    background: #ff9b00;
    position: relative;
    display: block;
    top: 50px;
}

.bottom {
	margin-bottom: 15px;

}
.bottom.bar {
	font-weight: 700;
	font-size: 20px;
	color: #FFF;
}
.bar:before {
	content: "";
    width: 65px;
    height: 4px;
    background: #ff9b00;
    position: relative;
    display: block;
   	top: 30px;
}

.products {
	margin-bottom: 15px;
}
.products.fluid {
	background: #FFF;
}
.product:hover {
	background: #F2F2F2;
	cursor: pointer;
}
.product {
	width: 216px;
	display: block;
	text-align: center;
	line-height: 23px;
	padding: 15px;
	padding-bottom: 15px;
	height: 300px;
	float: left;
	position: relative;
}
.products > .container > .underline {
	font-size: 20px;
}
.products > .container > .underline:before {

    top: 32px;
}
.product > h5 {
	font-size: 12px;
	color: #7A7A7A;
	font-weight: 700;
}
.product > h3 {
	font-size: 16px;
	color: #2EC4B6;
	font-weight: 700;
}
.product > .price {
	font-size: 13px;
	color: #7A7A7A;
	font-weight: 300;
	text-decoration: line-through; 
}

.product > p {
	font-size: 12px;
	color: #7A7A7A;
	font-weight: 300;

}
.product > .button {
	background: #2EC4B6;
	width: 125px;
	display: block;
	margin: 0 auto;
	padding: 5px;
	border-radius: 5px;
	text-decoration: none;
	color: #FFF;
	font-weight: 600;
	position: relative;
	/* left: 5px; */
}
.product > .button > span {
	position: relative;
	left: 5px;
	font-weight: 500;
}
.product > .button > .icon-card_plus {
	position: absolute;
	left: 10px;
	top: 8px;
}

/* Footer */

.actions {
	float: left;
	display: block;
}
.actions.contact {
	display: block;
	width: 200px;
}
.actions.contact > li > a {
	background: #FF9F1C;
	display: block;
	margin-top: 5px;
	text-align: center;
	text-transform: uppercase;

	text-decoration: none;

	color: #FFF;
	font-weight: 500;

	font-size: 11px;
	border-radius: 5px;
	padding: 10px;
	line-height: 13px;
}
.actions.contact > li {
	width: 200px;
}



.footer {
	background: #011627;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 10px solid #2EC4B6;
	display: block;
	height: 215px;
	float: left;
 	position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer.underline {
	color: #FFF;
	font-size: 20px;
}
.footer.underline:before {
	color: #FFF;
	width: 44px;
	font-size: 20px;
}

.footer > div > ul > li > h4 {
	color: #FFF;
	font-weight: 700;
}
.footer > div > ul > li {
	display: inline-block;
	width: 152px;
	line-height: 30px;
	margin-right: 15px;
	font-size: 15px;
}
.footer > div > ul > li > p {
	color: #FFF;
	font-size: 12px;
	line-height: 26px;
}
.white {
	color: #FFF;
}

ul.starts {
	text-align: left;
}

.slider {
	margin-top: 5px;
	display: block;
	height: auto;
}

.slider > div {
	background: url(../images/banner@2x.png) right no-repeat #011627;
	background-size: auto;
	width: 100%;
	height: 320px;
}
	.slider {
		font-size: 35px;
	}
	.slider .title {
		color: #FFF;
		line-height: 40px;
		font-weight: 700;
		width: 40%;
		margin: 11% 3px;
	}
	.slider .title span {
		color: #FFF;
	}

.underline {
    /* color: #FFF; */
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 35px;
}
.hidden-sm {
	display: none;
}

@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width:480px){
   /* styles for mobile browsers smaller than 480px; (iPhone) */

   	.logo {
	   	width: 72px; height: 21px;
	    background: url('../../images/sprites.png') -228px -180px;
   	}
   	.icon-product {
		width: 112px;
		height: 93px;
		background: url('../../images/sprites.png') -211px -10px;
		/* position: relative; */
		/* text-align: center; */
		margin: 0 auto;
	}
   	.barra {display: block;}

   .slider > div {
		background: url(../images/banner@1x.png) right no-repeat;
		background-size: cover;
		height: 162px;
	}
	.main {margin-top: -20px;}
	.lSSlideOuter .lSPager.lSpg {
	    position: absolute;
	    left: 0px;
	    right: 0px;
	    bottom: 3px;
	    text-align: center;
	}
	.bottom {
		margin-left: 15px;
	}
	.slider .title {
		color: #FFF;
		font-size: 26px;
		line-height: 27px;
		font-weight: 700;
		width: 40%;
		margin: 15px 22px;
	}
	.slider .underline {
		font-size: 27px;
		font-weight: 700;
		color: #FFF;
		height: 3.5018px;
	}

	.slider .underline:before {
		width: 32px;
		height: 4px;
		top: 60px;
	}
	.bx-wrapper .bx-pager.bx-default-pager a { width: 6.99px !important; height: 7px !important; }

	.bx-controls-direction {display: none;}
	

  .logo {
    margin: 0 auto;
    float: none;
 }
 .search {
     margin-left: 0px;
     float: none;
     margin: 0 auto;
     display: block;
     width: 90%;
}
 .container {
	width: 100%;

	margin: 0 auto;
	display: block;
}

.header {
    height: 83px;

	}

.search > input[type='search'] {
    width: 100%;
}

ul.items > li:first-child {
	display: none;
}
ul.items:last-child {
	display: none;
}
ul.items:first-child {
	border: none;
}

ul.items > li.cart {
   position: relative;
   top: -76px;
   right: 5px;
}
.location > h1 {
	padding-left: 15px;
}
ul.actions {
	padding-left: 15px;
}

.actions.contact {    
	
	width: 100%;
    text-align: center;
}
.footer {
	height: 320px;
}
.footer > div > ul > li {
    width: 45%;
}
.actions.contact > li {
    width: 200px;
    margin-top: 15px;
}
.product {
	width: 41%;
}
.products > .container > .underline {
    margin-left: 16px;
}
.product:first-child {
    width: 80%;
    margin-left: 0px;
}
}
@media only screen and (device-width:768px){
  
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
   
  .primary {
  	width: 100%;
  	display: block;
  	float: left;
  }

  .logo {
    margin: 0 auto;
    float: none;
 }
 .container {
	width: 100%;

	margin: 0 auto;
	display: block;
}

}