body{
    background-color: $cor-de-fundo;
    font-family: 'Ubuntu', sans-serif;
}

.subtitulo {
    font-weight: bold;
    font-size: 17px;
}

.desktop {
    display: none;
}

.centralizado {
    text-align: center;
}



