footer(class="footer")
  div(class="container")

    ul(class="footer-list")

      li(class="col-4")
        svg(class="icon icon--small"): use(xlink:href="assets/images/icons/icons.svg#icon-pin")
        div(class="footer__info")
          strong(class="footer__place") RJ
          span(class="footer__address") Rua do acre, 77 - sala 1108 Centro - Rio de Janeiro
          a(href="tel:552122636044" class="footer__phone") tel.: +55 (21) 2263.6044

      li(class="col-4")
        svg(class="icon icon--small"): use(xlink:href="assets/images/icons/icons.svg#icon-pin")
        div(class="footer__info")
          strong(class="footer__place") SP
          span(class="footer__address") Rua Cardoso de meio, 1750 6° Andar Vila Olímpia
          a(href="tel:552122636044" class="footer__phone") tel.: +55 (21) 2263.6044

      li(class="col-4")

        div(class="card")
          svg(class="icon icon--medium"): use(xlink:href="assets/images/icons/icons.svg#icon-help")
          span(class="card__text") Entre em
            strong  contato
            |  com nossa central de suporte

        div(class="card")
          svg(class="icon icon--medium"): use(xlink:href="assets/images/icons/icons.svg#icon-contact")
          span(class="card__text") Fale com nosso
            strong  consultor online
