.footer{
    display: flex;
    background: $azul-escuro;
    color: $branco;
    margin-top: 3%;
    height: 200px;
 }
 .footer__titulo{
   color: $branco;
   font-size: 20px;
   margin-top: 5%;
   width: 15%;
 }
 .localizacaoPrimeira,
 .localizacaoSegunda {
    margin-top: 5%;
    width: 15%;
    text-align: left;
 }
 .bntFooter{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
 
    .contatoFooter,
    .consultorFooter {
       @include botao();
       background: $amarelo;
       width: 195px;
       height: 38px;
       border-radius: 5px;
       margin: 10px;
       line-height: 14px;
    }
 }
 .marginFooter{
    width:26%;
  }

 
 
 