// Cores
$azul-escuro: #011627;
$verde-piscina: #2EC4B6; 
$amarelo: #FF9F1C;
$branco: #FFFFFF;
$cinza:  #7A7A7A;
$cinza-claro: #F2F2F2;

$cor-fonte-primaria: $branco;
$cor-fonte-segundaria: $cinza;
$bg-primario: $azul-escuro;
$bg-secundario: $branco; 
$sublinhado:$amarelo;

// Fonte
$fonte-primaria:'Ubuntu', sans-serif;
$fonte-size-banner: 42px;
$fonte-size-procura: 13px;

// Position
$absolute: absolute;

// BREAKPOINTS
$mobile: 420px;
$tablet-ver: 768px;
$tablet-hor: 1024px;