.btn{
  padding: 10px 20px;
  background: #000;
  color: #fff;

  text-decoration: none;
  transition: 0.3s all ease;
  &:hover{
    opacity: 0.85;
  }
  &.btn-default{
    text-transform: uppercase;
  }
  &.btn-thin{
    background: none;
    border: 1px solid #c5c5c5;
    padding: 3px 20px;
    color: #000;
    font-size: 12px;
  }
  &.btn-yellow{
    padding: 10px;

    background: #fac437;
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
  }

}
