body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif
}

header section .container {
    display: flex;
    align-items: center;
}

header section .container div {
    margin: 1rem 0 1rem 0;
}

.logo {
    width: 25%;
}

.logo img {
    width: 100%;
}

.login {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login span:nth-child(1) {
    font-size: 20px;
    font-weight: 900;
}

.login span:nth-child(2) a {
    font-size: 12px;
    font-weight: 900;
    color: #000;
}

.search {
    display: flex;
    align-items: center;
    height: 35px;
    width: 38%;
    background-color: #FFA200;
    border-radius: 20px;
}

.search input {
    border-bottom: 0px;
}

.search input:focus {
    border: none;
}

.search img {
    width: 30px;
    height: 30px;
    margin: 3px 6px;
}

.search-img {
    background-color: black;
    border-radius: 20px;
    width: 45px;
    height: 35px;
}

.search input {
    background-color: #FFA200;
    width: 80%;
    border: none;
}

.language {
    width: 17%;
}

.country {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.country img {
    width: 25px;
    height: 20px;
    margin: 3px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact span {
    color: #009DF3;
    margin-left: 3px;
}

.carousel-container {
    background-color: #FFA200;
}



/* Cards sapatos */

.card {
    border: none;
    margin: 1rem;
}

.card {
    background-color: yellow;
}

.card-image-1 {
    background-image: url('/home/glayton/Desktop/teste-profite-jr/assets/images/sapatos/calçado1_hover.png');
    width: 100%;
    height: 113px;
    background-repeat: no-repeat;
    background-position: center;
}

.card-image-2 {
    background-image: url('/home/glayton/Desktop/teste-profite-jr/assets/images/sapatos/calçado2_hover.png');
    width: 100%;
    height: 113px;
    background-repeat: no-repeat;
    background-position: center;
}

.card-image-3 {
    background-image: url('/home/glayton/Desktop/teste-profite-jr/assets/images/sapatos/calçado3_hover.png');
    width: 100%;
    height: 113px;
    background-repeat: no-repeat;
    background-position: center;
}

.card-image-4 {
    background-image: url('/home/glayton/Desktop/teste-profite-jr/assets/images/sapatos/calçado4_hover.png');
    width: 100%;
    height: 113px;
    background-repeat: no-repeat;
    background-position: center;
}

.card:hover {
    background-color: yellow;
}

.card-sapato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-sapato img {
    width: 50%;
}

.card-sapato h1 {
    font-size: 100%;
    font-weight: 900;
}

.card-sapato button {
    display: flex;
    align-items: center;
    width: 50%;
    color: #fff;
    background-color: #161212;
    border: none;
    text-align: center;
    padding: 5px;
}

.card-sapato button img {
    width: 15px;
    height: 15px;
    margin-left: 30px;
    margin-right: 10px;
}

.preco-original {
    font-size: 17px;
    color: #c7c7c7;
}

.preco-desconto {
    font-size: 17px;
    font-weight: 900;
}

.preco-parcelado {
    font-size: 14px;
    font-weight: 900;
}

.economia {
    font-size: 14px;
    color: #000;
    margin: 5px;
    padding: 0px 3px 0px 3px;
    border: 1px solid #c9c9c9;
    background-color: #fff;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: left;
    padding: 3rem 0rem;
}

.chat {
    display: flex;
    align-items: center;
    background-color: #f3cd05;
    padding: 5px 20px;
    margin-top: 10px;
    color: #000;
}

.chat div {
    display: flex;
    flex-direction: column;
}

.chat img {
    margin-right: 5px;
}

.chat-consultor {
    font-weight: 900;
}

.email {
    background-color: #f3cd05;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: #000;
}

.email img {
    margin-right: 5px;
}

.email-contato {
    font-weight: 900;
}

.endereco-rj p {
    float: right;
}

.endereco-sp p {
    float: right;
}

.endereco-rj img {
    margin-top: 3px;
    margin-right: 3px;
}

.endereco-sp img {
    margin-top: 3px;
    margin-right: 3px;
}

footer {
    background-color: rgba(238, 238, 238, 0.91);
    margin: 3rem 0rem 0rem 0rem;
}

@media screen and (max-width: 480px) {
    header section .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .search {
        width: 100%;
        border-radius: 0px;
    }
    .search-img {
        border-radius: 0px;
    }
    .language {
        display: none;
    }
    .login {
        width: 32%;
    }
    .logo {
        width: 40%;
    }
    .container {
        width: 100% !important;
    }
    .login span:nth-child(1) {
        font-size: 15px;
        font-weight: 900;
    }
    .login span:nth-child(2) a {
        font-size: 9px;
        font-weight: 900;
        color: #000;
    }

    .card-sapato img {
        width: 40%;
    }

    .card-sapato button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #fff;
        padding-right: 13px;
        background-color: #161212;
        border: none;
    }
    
    .card-sapato button img {
        width: 15px;
        height: 15px;
    }
    
    .preco-original {
        font-size: 12px;
        color: #c7c7c7;
    }
    
    .preco-desconto {
        font-size: 12px;
        font-weight: 900;
    }
    
    .preco-parcelado {
        font-size: 9px;
        font-weight: 900;
    }
    
    .economia {
        font-size: 9px;
        color: #000;
        margin: 5px;
        padding: 0px 3px 0px 3px;
        border: 1px solid #c9c9c9;
        background-color: #fff;
    }

    .card-image-1 {
        background-image: url('/home/glayton/Desktop/teste-profite-jr/assets/images/sapatos/calçado1_hover.png');
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .card-image-2 {
        background-image: url('/home/glayton/Desktop/teste-profite-jr/assets/images/sapatos/calçado2_hover.png');
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .card-image-3 {
        background-image: url('/home/glayton/Desktop/teste-profite-jr/assets/images/sapatos/calçado3_hover.png');
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .card-image-4 {
        background-image: url('/home/glayton/Desktop/teste-profite-jr/assets/images/sapatos/calçado4_hover.png');
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .card.medium {
        height: 325px !important;
    }

    .chat {
        display: flex;
        align-items: center;
        background-color: #f3cd05;
        padding: 2px 20px;
        margin-top: 10px;
        color: #000;
        font-size: 10px;
    }
    
    .chat div {
        display: flex;
        flex-direction: column;
    }
    
    .chat img {
        margin-right: 5px;
        width: 15px;
    }
    
    .chat-consultor {
        font-weight: 900;
    }
    
    .email {
        background-color: #f3cd05;
        padding: 4px 20px;
        display: flex;
        align-items: center;
        color: #000;
        font-size: 10px;
    }
    
    .email img {
        margin-right: 5px;
        width: 10px;
    }
    
    .email-contato {
        font-weight: 900;
    }
    
    .endereco-rj p {
        float: right;
        font-size: 7px;
    }
    
    .endereco-sp p {
        float: right;
        font-size: 7px;
    }
    
    .endereco-rj img {
        margin-top: 3px;
        margin-right: 3px;
        width: 20px;
    }
    
    .endereco-sp img {
        margin-top: 3px;
        margin-right: 3px;
        width: 20px;
    }
    
    footer {
        background-color: rgba(238, 238, 238, 0.91);
        margin: 3rem 0rem 0rem 0rem;
    }
}