.molecule-main-banner-slider
	width 100%
	background-color #F9C438
	position relative
	
.molecule-main-banner-slider-each, .molecule-main-banner-slider-controls
	width 100%
	max-width 960px
	margin 0 auto
	position relative
	height 348px
	+below(650px)
		height 140px
	
.molecule-main-banner-slider-controls
	position absolute
	left 0
	right 0
	top 0
	
.molecule-main-banner-slider-dots
	position absolute
	bottom 10px
	left 0
	right 0
	text-align center
	+below(650px)
		bottom 0px