.molecule-main-products-each
	text-align center
	position relative
	outline none
	padding 10px 0
	&.featured
		background-color #F9C438
	&::after 
		content ""
		width 1px
		background-color rgba(0,0,0,0.2)
		height 300px
		display block
		position absolute
		right -1px
		top 20px
		
.molecule-main-products-control
	width 100%
	position absolute
	left 0
	top 0
	right 0
	
.molecule-modal-products-img
	width 100%
	height 100%
	background-size contain
	background-repeat no-repeat
	background-position center
	background-image url('../img/Produtos/calcado4_zoom.png')