.molecule-main-header-logo
	width 20%
	display inline-block
	+below(650px)
		width 40%
		margin 0 10%
	
.molecule-main-header-login
	width 20%
	display inline-block
	text-align center
	+below(650px)
		position absolute
		width auto
		top 47px

.molecule-main-header-search
	width 40%
	display inline-block
	+below(650px)
		display block
		width 100%
	
.molecule-main-header-search-bar
	width 100%
	margin 0 auto
	position relative
	height 28px
	
.molecule-main-header-contact
	width 20%
	display inline-block
	text-align center
	+below(650px)
		display none
