@import "ctrl";
@import "thumbnail";

//Container de carrossel
.carrosselTenis{
	position: relative;
	margin: 40px auto 0 auto;
	@media #{$not-mobile}{
		margin-top: 80px;
	}
	@media #{$tablet}{
		width: 778px;
	}
	@media #{$desktops}{
		width: 967px;
	}
}

//Área visível de carrossel
.carrossel-overfl{
	overflow: hidden;
	width: 95%;
	@media #{$tablet}{
		width: 96%;
	}
	@media #{$desktops}{
		width: 99.8%;
	}
	margin: 0 auto;
}

//Itens do carrossel
.carrosselnw{
	white-space: nowrap;
	*{
		white-space: normal;
	}
	width: 100.2%;
	@media #{$tablet}{
		width: 750px;
	}
	@media #{$desktops}{
		width: 967px;
		margin: 0;
	}
  	transition: 1s;
  	.content{
  	  display: inline-block;
  	  float: none;
  	}
  	[class^='col-']{
  		padding: 0;
  	}
}

.modal-body{
	padding: 0 15px;
	img{
		width: 100%;
	}
	button{
		position: absolute;
    	right: 20px;
    	top: 15px;
    	opacity: 1;
    	width: 20px;
	}
}

