footer{
  height: 200px;
  background: $cor-rodape;
  display: flex;
  justify-content: center;

  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media #{$md-mobile}{
      justify-content: center;
    }
    > div {
      display: flex;
      .endereco-descricao {
        padding: 6px 5px 0px 5px;
        display: flex;
        flex-direction: column;
        align-items: start;
        p{
          margin: 3px;
          color: $cor-radape-texto;
        }
        .telefone{
          color: $cor-texto;
          font-weight: bold;
        }
      }
    }
    .social{
      display: flex;
      flex-direction: column;
      align-items: center;
      a{
        display: flex;
        align-items: center;
        background: $cor-primaria;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        color: $cor-texto;
        flex-wrap: wrap;
        justify-content: center;
        width: 180px;
        margin: 5px;
        height: 35px;
        padding: 5px;
        @media #{$md-mobile}{
          font-size: 9px;
          width: 130px;
        }
        img {
          padding: 0px 5px 0px 5px;
        }
        div span {
          font-weight: bold;
          padding-left: 5px;
        }
      }
    }
    
  }
}