.Item{
    font-family: Ubuntu;
    width: 150px;
    display: flex;
    .product{
        width: 90%;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition-delay: 500ms;
        
        div{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 50px;
            height: 50px;
            position: absolute;
            margin-left: 60px;
            clip-path: polygon(100% 0, 0 0, 100% 100%);
            background-color: #FF9F1C;
            
            p{
                margin-bottom: 40px;
                color:#fff;
            }
        }
    }

    img{
        align-self: center; 
        
    }
    
    p{
        text-align: center;
        color: #7a7a7a;
        line-height:11px;
        &:nth-child(3){
            font-size: 11px;
        }
        &:nth-child(5){
            font-size: 12px;
            text-decoration: line-through;
            margin-bottom: 0; 
            line-height:6px;
        }
        &:nth-child(6){
            font-weight: 700;
            color: #2EC4B6;
        }
        &:nth-child(7){
            font-size: 12px;

        }

    }
    button{
        background-color: #2EC4B6;
        border: none;
        font-weight: 500;
        width: 150px;
        height: 35px;
        display: flex;
        justify-content: space-around;
        color: #fff;
        border-radius: 5px;
        font-size: 16px;
        align-items: center;    
    
    }

}