[class^='btnCtrl'] {
  background: none;
  border: none;
  position: absolute;
  top: -50px;
  height: 100%; }
  @media only screen and (min-width: 768px) {
    [class^='btnCtrl'] {
      top: -140px; } }

.btnCtrlPrev {
  left: 20px; }
  @media only screen and (min-width: 768px) {
    .btnCtrlPrev {
      left: 0; } }
  @media only screen and (min-width: 1200px) {
    .btnCtrlPrev {
      left: -35px; } }

.btnCtrlNext {
  right: 20px; }
  @media only screen and (min-width: 768px) {
    .btnCtrlNext {
      right: 0; } }
  @media only screen and (min-width: 1200px) {
    .btnCtrlNext {
      right: -35px; } }

.thumbnail {
  border-color: #fff;
  border-right: 1px solid #ededed;
  padding: 0 20px 20px 20px;
  margin-bottom: 0; }
  .thumbnail a {
    cursor: pointer; }
    .thumbnail a > img {
      margin: 0 auto; }
  .thumbnail .caption {
    padding: 0; }
  @media only screen and (min-width: 992px) {
    .thumbnail:hover {
      background: #ffbc40; } }

.caption {
  text-align: center;
  margin: 0 18px; }
  .caption h4 {
    font-size: 14px;
    font-weight: 800;
    min-height: 40px; }
    .caption h4 + img {
      padding-bottom: 8px; }
  .caption p {
    font-size: 12.3px; }

.preco-original {
  font-size: 11px;
  text-decoration: line-through;
  color: #777; }

.preco-desconto {
  margin-bottom: 4px; }

.preco-parcelado {
  margin-bottom: 8px; }

.comprarBtn {
  background: black;
  color: #ddd;
  margin-bottom: 9px;
  border: 0;
  padding: 7px 19px;
  font-size: 13px; }
  .comprarBtn img {
    width: 15px;
    margin: 0 4px 4px 0; }

.preco-economia {
  font-size: 9.5px;
  padding: 2px 14px;
  border: 1px solid #ccc;
  background: #fff;
  display: block;
  margin: 0 auto;
  width: 130px; }

.carrosselTenis {
  position: relative;
  width: 641px;
  margin: 40px auto 0 auto; }
  @media only screen and (min-width: 768px) {
    .carrosselTenis {
      margin-top: 80px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .carrosselTenis {
      width: 778px; } }
  @media only screen and (min-width: 992px) {
    .carrosselTenis {
      width: 967px; } }

.carrossel-overfl {
  overflow: hidden;
  width: 93%;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 992px) {
    .carrossel-overfl {
      width: 95%; } }
  @media only screen and (min-width: 992px) {
    .carrossel-overfl {
      width: 100%; } }

.carrosselnw {
  white-space: nowrap;
  width: 600px;
  margin: 0 2%;
  transition: 1s; }
  .carrosselnw * {
    white-space: normal; }
  @media (min-width: 768px) and (max-width: 992px) {
    .carrosselnw {
      width: 750px;
      margin-right: 45px; } }
  @media only screen and (min-width: 992px) {
    .carrosselnw {
      width: 967px;
      margin: 0; } }
  .carrosselnw .content {
    display: inline-block;
    float: none; }
  .carrosselnw [class^='col-'] {
    padding: 0; }

.modal-body {
  padding: 0 15px; }
  .modal-body img {
    width: 100%; }
  .modal-body button {
    position: absolute;
    right: 20px;
    top: 15px;
    opacity: 1;
    width: 20px; }

/*# sourceMappingURL=carrosselTenis.css.map */
