@import "sideInfo";
@import "search";
@import "logo";
@import "userArea";

// ------------ Outros ------------- //


.navbar-default{
	padding: 35px 0 10px;
	@media #{$desktops}{
		width: 967px;
	}
	margin: 0 auto;
	@media #{$not-mobile}{
		padding-bottom: 35px;
	}
	background: #fff;
	> div{
		padding: 0;
		
		@media #{$not-mobile}{
			padding: 0 13px;
		}
	}
	h3{
  		margin: 11px 0 0;
		font-weight: 800;
		font-size: 14px;
		@media #{$mobile-sm}{
			margin-top: 5px;
		}
		@media #{$not-mobile}{
			font-size: 19px;
			margin-top: 14px;
			letter-spacing: 1.5px;
		}
		@media #{$desktop}{
			font-size: 15px;
		}

  	}
}

.navbar-header{
	> div:nth-of-type(4){
		@media #{$mobile}{
			width: calc(100% + 20px);
		}
		@media #{$not-desktop}{
			padding: 0;
		}
		@media #{$tablet}{
			width: 156%;
		}
	}
}