.user{
	white-space: nowrap;
	+ div{
		padding-left: 0;
		@media #{$desktop}{
			padding-left: 20px;
		}
		@media #{$desktop-bg}{
			padding-left: 3%;
		}
	}
	> ul{
		padding: 0;
		> li{
			display: inline-block;
			font-size: 9px;
			font-weight: 600;
			@media #{$not-mobile}{
				font-size: 15px;
				font-weight: 500;
			}
			@media #{$desktop}{
				font-size: 13px;
			}
			a{
				font-size: 9px;
				@media #{$not-mobile}{
					font-size: 15px;
				}
				@media #{$desktop}{
					font-size: 13px;
				}
			}
		}
	}
	@media #{$desktop-bg}{
		padding-left: 0;
	}
	@media #{$mobile-sm}{
		padding-left: 0;
	}
}

.dropdown-menu{
  text-align: center;
  width: 250px;
  left: -102px;
  padding: 20px;
  border-radius: 0;
  box-shadow: none;
}

.dropdown{
	@media #{$mobile}{
		position: static;
	}
}