div(class="lightbox")

  div(class="lightbox__content")
    btn(type="button" class="lightbox__close")
      svg(class="icon icon--small"): use(xlink:href="assets/images/icons/icons.svg#icon-close")

    img(src="", class="lightbox__image")
