div(class="slide-wrapper")
  div(class="container")
    div(class="slide owl-carousel" id="slide")
      //- div(class="item slide-bg one")
      div(class="item slide-bg two")
      div(class="item slide-bg three")
      div(class="item slide-bg four")
      div(class="item slide-bg five")
