#containerHead{
  height: 6.68vh;
  background: #FFFFFF;
}
#containerBanner{
  height: 35.92vh;
  background: yellow;
}
#containerProducts{
  height: 38.76vh;
  background: #E5E5E5;
}
#containerFoot{
  height: 18.62vh;
  background: #011627;
}
/* Foot */
#rowListFoot li{
  font-size: 55%;
  list-style: none;
  color: #FFFFFF;
}
#divAdress span{
  font-size: 75%;
  font-weight: bold;
  color:#FFFFFF;
}
#divAdress ul{
  margin-left: -16px;
  padding: 0;
}
#divrectangle{
  width: 30px;
  height: 3px;
  background: #FF9F1C;
  margin: 9px 0 9px 0;
}
#containerFoot button{
  background: #FF9F1C;
  border: transparent;
  border-radius: 10px;
  width: 100%;
  height: 35px;
  font-size: 70%;
  color:#FFFFFF;
}
#containerFoot button:first-of-type{
    margin-top: 28px;
    margin-bottom: -10px;
}