include pug/partials/head

body
  include pug/sections/navbar
  include pug/sections/banner
  include pug/sections/produtos
  include pug/sections/footer
  script(src="https://unpkg.com/swiper/js/swiper.min.js")
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="js/main.min.js")